{% extends "syllabook/base.html" %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}
<div class="flex flex-col pl-72 pt-10">
    <h class="font-bold text-5xl mb-10">About us</h>
    <div class="text-white w-3/5"> 
        <h1>We are student of Technological Insitute of the Philippines and were taking Bachelor in computer Engineering, and this is our software design project for school year of 2022-2023. Our adviser is jointathan</h1>
    </div>
    <div class="flex flex-row justify-evenly pt-10">
        <div class="bg-[#A7D8DC] p-5 w-1/6 h-96 rounded-lg mr-5 flex flex-col items-center text-center justify-evenly">
            <img src="{% static 'syllabook/images/gran.jpg' %}" class="w-36 rounded-lg" alt="Gran">
            <h class="mt-2"> Zulueta, Gran</h>
            <h> Group leader</h>
            <h> 5th year Computer Engineer major in Railway Engineering </h>
            <div class="flex flex-row mt-5">
                <a href="https://www.facebook.com/gran.zulueta.1"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black mx-5"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg></a>
                <a href="https://github.com/Grannybells"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" /></svg></a>
            </div>
        </div>
        <div class="bg-[#A7D8DC] p-5 w-1/6 h-96 rounded-lg mr-5 flex flex-col items-center text-center justify-evenly">
            <img src="{% static 'syllabook/images/kel.jpg' %}" class="w-36 rounded-lg" alt="Gran">
            <h class="mt-2"> Sahak, Michael</h>
            <h> Secretary</h>
            <h> 4th year Computer Engineer Major in Intelligence System</h>
            <div class="flex flex-row mt-5">
                <a href="https://www.facebook.com/michael.sahak"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black mx-5"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" /></svg></a>
            </div>
        </div>
        <div class="bg-[#A7D8DC] p-5 w-1/6 h-96 rounded-lg mr-5 flex flex-col items-center text-center justify-evenly">
            <img src="{% static 'syllabook/images/jam.png' %}" class="w-36 rounded-lg" alt="Gran">
            <h class="mt-2"> Fajilagutan, Jam Fiona</h>
            <h> Manager</h>
            <h> 4th year Computer Engineer Major in System Administration</h>
            <div class="flex flex-row mt-5">
                <a href="https://www.facebook.com/jamfiona"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black mx-5"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" /></svg></a>
            </div>
        </div>
        <div class="bg-[#A7D8DC] p-5 w-1/6 h-96 rounded-lg mr-5 flex flex-col items-center text-center justify-evenly">
            <img src="{% static 'syllabook/images/janel.jpg' %}" class="w-36 rounded-lg" alt="Gran">
            <h class="mt-2"> del Rosario, Janel Candince</h>
            <h> Aesthetic</h>
            <h> 4th year Computer Engineer Major in System Administration</h>
            <div class="flex flex-row mt-5">
                <a href="https://www.facebook.com/ja.delrosarioo"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black mx-5"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" /></svg></a>
            </div>
        </div>
        <div class="bg-[#A7D8DC] p-5 w-1/6 h-96 rounded-lg mr-5 flex flex-col items-center text-center justify-evenly">
            <img src="{% static 'syllabook/images/ma.jpg' %}" class="w-36 rounded-lg" alt="Gran">
            <h class="mt-2"> Bucog, Mariel</h>
            <h> Supervisor</h>
            <h> 4th year Computer Engineer Major in System Administration</h>
            <div class="flex flex-row mt-5">
                <a href="https://www.facebook.com/ikawsimayen"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black mx-5"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg></a>
                <a href="#"><svg class="h-8 w-8 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" /></svg></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}